.head1 {
   min-height: 90px;
}
.bdy{
    background-color: brown;
}
.carousel img,
.carousel video {
    height: 500px;
    object-fit: cover;
    width: 100%;
}
.carousel-wrapper {
    position: relative;
}

.card-carousel {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding: 10px 40px;
}

.card-carousel::-webkit-scrollbar {
    display: none;
}

.anime-card {
    min-width: 180px;
    color: rgb(243, 239, 239);
    flex-shrink: 0;
}

.anime-card img {
    width: 100%;
    height: 260px;
    object-fit: cover;
    border-radius: 6px;
}

.anime-card p {
    margin-top: 10px;
    font-size: 14px;
}


.nav-btn {
    display: none;
}
.headbt{
    background-color: rgb(229, 61, 61);
}
.cd-gr{
    gap: 5px;
}
.post img{
    height: 600px;
    width: 100%;
}
.link{
    text-decoration: none;
}
.test{
    font-family: cursive;
}